{% extends 'base.html' %}
{% block content %}	
	<header>
				<h1> Publica tus .. </h1>
	</header>
	<hr>			
	<form action="/publica/" method="post" class="form-horizontal">{% csrf_token %}
		{% block publica %}	
		{% endblock %}		
	</form>
<!-- Observaciones para mejorar el script de calendarios
	 http://tarruda.github.io/bootstrap-datetimepicker/ -->		
	<script>
		$(document).ready(function(){
			window.prettyPrint && prettyPrint();
			$('#fechasal').datetimepicker({
		      language: 'pt-BR'
		    });
			$('#fecharet').datetimepicker({
		      language: 'pt-BR'
          	});
		});
	</script>
{% endblock %}	