{% extends 'base.html' %}
{% block content %}	
	<header>
				<h1> Publica tus .. </h1>
	</header>
	<hr>			
	<form action="/publica/" method="post" class="form-horizontal">{% csrf_token %}
		
		{% for field in PublicaForm %}
			
			<div class="control-group {%if field.errors %} error {% endif %}">
			
					<div class="control-label">
						{{ field.label_tag }}  
					</div>
					<div class="controls">
						{% if field.name = 'fechasal' or field.name = 'fecharet' %}
							<div id='{{ field.name }}' class="input-append">
								{{ field }}
								<span class="add-on">
	      							<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
	    						</span>
							</div>
						{% else %}
								{{ field }}
						{% endif %}
							<span class="help-inline">
								{% for error in field.errors %}
									{{ error }} 
								{% endfor %}
							</span>
					</div>
			</div>
				
		{% endfor %}

		<button type="submit" class="btn">Search</button>
	</form>
	
<!-- Observaciones para mejorar el script de calendarios
	 http://tarruda.github.io/bootstrap-datetimepicker/ -->		
	<script>
		$(document).ready(function(){
			window.prettyPrint && prettyPrint();
			$('#fechasal').datetimepicker({
		      language: 'en',
		      pick12HourFormat: true      		
		    });
			$('#fecharet').datetimepicker({
		      language: 'en',
		      pick12HourFormat: true
          	});
		});
	</script>
{% endblock %}	