{% extends 'base.html' %}
{% block content %}	
	<header>
				<h1> Publica tus .. </h1>
	</header>
	<hr>			
	<form action="/publica/" method="post" class="form-horizontal">{% csrf_token %}
		{% block publica %}	
		
		{% endblock %}		
		<button type="submit" class="btn">Search</button>
	</form>
	
<!-- Observaciones para mejorar el script de calendarios
	 http://tarruda.github.io/bootstrap-datetimepicker/ -->		
	<script>
		$(document).ready(function(){
			window.prettyPrint && prettyPrint();
			$('#fechasal').datetimepicker({
		      language: 'en',
		      pick12HourFormat: true      		
		    });
			$('#fecharet').datetimepicker({
		      language: 'en',
		      pick12HourFormat: true
          	});
		});
	</script>
{% endblock %}	